body{
    display: block;
    background-color:#f0f0f0;
    margin: 10px;
    padding: 10px;
    padding-top: 10px;
    border: 10px blue;
    margin: 10px black;
}



nav{
    display: block;
    background-color:whitesmoke;
    color: #fff;
    padding: 10px;
    padding-bottom: 20px;
    border: 20px black;
    margin: 10px black;
    word-spacing: 60px;
}

h1{text-align: center;color:darkblue;font-family: 'Times New Roman', Times, serif;}
        h2{text-align: center;color:darkblue;font-family: 'Times New Roman', Times;}
        nav{text-align: center;}
col{
    display: block;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}
h3{
    color:brown;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px; padding-bottom: 10px;
}


nav{align-items: center;}